* {margin: 0; padding: 0;}
 
body {
  background: black;
}

#players{
 height: 20px;
 width: 1920px;
 background: #A0702E;
 padding-top:3px;
 
}

#player1{
 display: inline;
 margin-left: 50px;
 font-weight:bold;
  color: black;
}

#player2{
 display: inline; 
 margin-left: 80px;
 font-weight:bold;
 color: black;
}

#score1{
 display: inline;
 margin-left: 10px;
 font-weight:bold;
  color: black;
}

#score2{
 display: inline;
 margin-left: 10px;
 font-weight:bold;
  color: black;
}

 h2{
  font-family:"Times New Roman",Georgia,Serif;
  text-align:center;
  margin-top: 5px;
  text-shadow: -1px -1px 1px rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.6);
  color: #A0702E;
}

#status{
  text-align: center;
  margin-top: 10px;
  font-family: "Times New Roman", Georgia,Serif;
  color: #A0702E;
  
}

#status2{
  text-align: center;
  margin-top: 10px;
  font-family: "Times New Roman", Georgia,Serif;
  color: #A0702E;
}


.savegame{
 width:600px;
 height:35px;
 text-align: center; 
 margin-left:auto;
 margin-right:auto;
}


#save{
  margin-top: 5px;
  display: inline;
  height: 35px;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
  font-weight: bold;
	color: #000000;
	background: -moz-linear-gradient(top, #A0702E 0%, #0D0D0D);
	background: -webkit-gradient( linear, left top, left bottom, from(#A0702E), to(#0D0D0D));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #000000;
	-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}


#reset{
  margin-top: 5px;
  display: inline;
  height: 35px;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
  font-weight: bold;
	color: #000000;
	background: -moz-linear-gradient(top, #A0702E 0%, #0D0D0D);
	background: -webkit-gradient( linear, left top, left bottom, from(#A0702E), to(#0D0D0D));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #000000;
	-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}


#restart{
  margin-top: 5px;
  display: inline;
  height: 35px;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
  font-weight: bold;
	color: #000000;
	background: -moz-linear-gradient(top, #A0702E 0%, #0D0D0D);
	background: -webkit-gradient( linear, left top, left bottom, from(#A0702E), to(#0D0D0D));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #000000;
	-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}



.sideBox{
  width:490px;
  height:730px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  z-index:1;
  perspective: 1000;
  border-radius: 2px;
  border-style: solid;
  border-color: #A0702E;
}



.flipper{
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 110px;
  height: 170px;
  border-radius: 10px;
}

.cardback{
  position: absolute;
  width: 110px;
  height: 170px;
  border-radius: 10px;
  background: #fff;
  z-index: 900;
  color:#33CC33;
  text-align: center;
  background: #fff;
  z-index: 900;
  font: 100px/120px Georgia, Times New Roman, serif;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transition:  0.8s;
  -moz-transition:  0.8s;
}

.cardfront{
  position: absolute;
  width: 110px;
  height: 170px;
  border-radius: 10px;
  background: #fff;
  z-index: 900;
  text-shadow: 3px 3px 7px rgba(0,0,0,0.5);
  text-align: center;
  font: 60px/120px Georgia, Times New Roman, serif;
  background: #fff;
  opacity: 0;
  z-index: 900;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-transition:  0.8s;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-transition:  0.8s;
}
/*"♣","♠"


[data-value*="♣"], [data-value*="♠"]
[class.innerHTML*="♠"]:before{

  position: absolute;
  font-size: 35px;
  left: 0.5px;
  top: 0px;
}

[class.innerHTML*="♠"]:after{
 
  position: absolute;
  font-size: 35px;
  right: 0.5px;
  bottom: 0px;
}
*/


.cardfrontF{
  position: absolute;
  width: 110px;
  height: 170px;
  border-radius: 10px;
  opacity: 1;
  z-index: 900; 
  background: #fff;
  text-shadow: 3px 3px 7px rgba(0,0,0,0.5);
  font: 60px/120px Georgia, Times New Roman, serif;
  text-align: center;
  -webkit-transform: rotateY(0deg);
  -webkit-transition:  0.8s;
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -moz-transition:  0.8s;
  -moz-transform-style: preserve-3d;
}
.cardbackF{
  position: absolute;
  width: 110px;
  height: 170px;
  border-radius: 10px;
  background: #fff;
  color:#33CC33;
  font: 100px/120px Georgia, Times New Roman, serif;
  opacity: 0;
  z-index: 900;
  text-align: center;
  -webkit-transform: rotateY(-180deg);
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateY(-180deg);
  -moz-transition: 0.8s;
  -moz-transform-style: preserve-3d;
  
}

.flipper .cardfrontF.matched, .flipper .cardbackF.matched{
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
}


/*.flipper:hover .cardfront{
  opacity: 1;
  z-index: 900; 
  -webkit-transform: rotateY(0deg);
  -webkit-transition:  0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -moz-transition:  0.5s;
  -moz-transform-style: preserve-3d;
}
.flipper:hover .cardback{
   opacity: 0;
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -webkit-transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateY(180deg);
  -moz-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  
}*/









