<!doctype html>

<html >
  
<head>
        
       <title>Player Choice</title>
      
          
       <link href="{{ url_for('static', filename='style2.css') }}" rel='stylesheet' type="text/css"/>
        
             <script type="text/javascript">
               
             function  oneplayer()
             {
              
                window.location.href = "{{url_for('cards')}}";
               
             }
               
             function twoplayer()
             {
               
               window.location.href = "{{url_for('cards2')}}";
              
             }
               
               var di = document.querySelector('#green');
               var ch = function()
               {
                    di.id = "red"; 
               }
            
             </script>
  
            
</head>
    
<body>
  <h2>Welcome to Flip Cards!!!</h2> 
 <h2>Please Select Your Playing Mode</h2>  
  
     <div id="box"> 
          <div id="choice">
            
          <input id="player1"  type="button" value="One Player" onclick="oneplayer()">
          <input id="player2"  type="button" value="Two Player" onclick="twoplayer()">
            
          </div> 
     </div>
  

</body>
  
  

    
</html>


